@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Pretendard-Regular'!important;
}
input::placeholder{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}
input:target{
    font-size: 20px;
}
.header{
    height: 60px;
    width: 390px;
    padding-left:32px;
    padding-right: 32px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.header img{
    height: 25px;
    width: 25px;
}
.header ul{
    padding:0;
}
.header ul li {
    display: inline-block;
    margin-left: 16px;
}
main{
    margin-bottom:60px;
    height: 1395px;
}
.banner{
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 390px;
    height: 218px;
    background: #4A433B;
    user-select: none;
}
.container{
    position: relative;
    width: 390px;
    height: 218px;
    background: #4A433B;
}
.displayWrap{
    width: 390px;
    height: 218px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.slideWrap{
    height: 100%;
    display: flex;
    position: absolute;
    left: 0; top: 0;
}
  .slideWrap .slide{
    width: 390px; height: 100%;
    font-size: 50px;
    display: flex;
    justify-content: center; align-items: center;
  }
.search{
    box-sizing: border-box;
    position: relative;
    width: 289px;
    height: 43px;
    left: 47px;
    top: -18px;
}

.search p {
    position: absolute;
    width: 128px;
    height: 18px;
    left: 17px;
    top: 13px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: rgba(0, 0, 0, 0.5);
}
.search img{
    position: absolute;
    right:14px;
    top:9px;
    width: 25px;
    height: 25px;
}


.bathBanner p{
    position: absolute;
    width: 57px;
    height: 17px;
    left: 66px;;
    top: 7px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}
.bathBanner img{
    position:relative;
    width: 9.23px;
    height: 15px;
    left: 51px;
    top:8px;
}
.bathBanner_under{
    position: relative;
    width: 347px;
    height: 2px;
    top:-5px;
    background-color: #4A433B;
}

.img{
    box-sizing: border-box;
    position: relative;
    width: 167px;
    height: 167px;
    left: 24px;
    border: 1px solid #4A433B;
    filter: drop-shadow(3px 3px 7px rgba(0, 0, 0, 0.09));
    border-radius: 5px;
}
.set{
    position: relative;
    width: 150px;
    height: 12px;
    left: 25px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

}
.text_brown{
    font-family: 'Pretendard';
    font-style: normal;
    display: flex;
    align-items: center;
    color: rgba(74, 67, 59, 0.7);
}
.won{
    position: relative;
    width: 80px;
    height: 12px;
    top:4px;
    left: 25px;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
}
.Menu{
    width: 390px;
}
.scrollPage{
    overflow: auto;
}
.inline{
    display: inline-block;
}
.One{
    position:relative;
    float: left;
    margin-right: 10px;
    margin-top: 22px;
}
.Two{
    position:relative;
    float: left;
    margin-top: 22px;
}

footer{
    position: fixed;
    width: 390px;
    height: 60px;
    background: #4A433B;
    bottom:0;
    margin-top: 80px;
}
footer img {
    margin-top:14px;
    width: 28px;
    height: 28px;
    margin-left: 120px;
    float: left;
}
footer .order{
    float: left;
    position:absolute;
    top:18px;
    width: 109px;
    height: 24px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.orderP{
    left:163px;
    text-align: center;
}
.orderNum{
    left:322px;
}

input[type=radio]{
    display: none;
}
.tab{
    margin-left:23px;
    height: 32px;
    display: inline-block;
}

.margin_on{
    display: inline-block;
    height: 32px;
    width: 173px;
    background: #ffffff;
    border-radius: 5px 5px 0px 0px;

}
.margin_on img{
    float: left;
    margin-left: 51px;
    margin-top:7px;
}
.margin_on p{
    float: left;
    margin-left:6px;
    margin-top:7px;
}

.badTab img{
    margin-top:10px !important;
    width: 17.6px;
    height: 11px;
}
.badTab{
    position:relative;
    left:-3px;
}
#tab-1:checked ~ .tab label:nth-child(1),
#tab-2:checked ~ .tab label:nth-child(2){
    background: #4A433B;
    color: white;
}

.content > div{
    display: none;
}

#tab-1:checked ~ .content div:nth-child(1),
#tab-2:checked ~ .content div:nth-child(2){
    display: block;
}

.content{
    position:relative;
    width: 347px;
    margin-bottom:60px;
}

.One button{
    float: left;
    width: 25px;
    height: 25px;
    border: 1px solid #4A433B;
    background-color: white;
    position:relative;
}
.Two button{
    float: left;
    position:relative;
    width: 25px;
    height: 25px;
    border: 1px solid #4A433B;
    background-color: white;
}
.number{
    position:relative;
    float:left;
    left:114px;
    width: 25px;
    height: 25px;
    border: 1px solid #4A433B;
    background-color: white;
}
.plus{
    position:relative;
    left:115px;
}
.plus img{
    width:10px;
    height:10px;
}
.minus{
    position:relative;
    left:113px;
}
.minus img{
    width: 10px;
    height: 10px;
}
.number p {
    position: relative;
    width: 9px;
    height: 18px;
    left: 7px;
    top: 3px;

    font-family: 'Pretendard-Regular';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #4A433B;
}

.hide{
    display: none !important;
}

.searchLi {
    box-sizing: border-box;
    position: relative;
    width: 289px;
    height: auto;
    background: #F8F8F8;
    border: 1px solid #4A433B;
    box-shadow: 3px 3px 7px rgba(15, 41, 107, 0.12);
    border-radius: 5px;
    display: none;
}
.searchLi > li{
    line-height: 250%;
    margin-left:16px;
}

.inputSearch{
    width: 289px;
    height: 43px;
    padding: 17px;
    background: #ffffff;
    border: 1px solid #4A433B;
    border-radius: 16px;
}

#modalContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 390px;
    height: 844px;
  }
  
  #modalContent {
    background-color: #fff;
    width: 390px;
    height: 100%;
    animation: modalAnimation 0.3s ease-in-out;
  }
  
  @keyframes modalAnimation {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  #modalContent header{
    height: 50px;
    border-bottom: 5px solid rgba(74, 67, 59, 0.5);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#modalContent header .cart{
    width: 28px;
    height: 28px;
}
#modalContent header p {
    margin-left:17px;
    width: 70px;
    height: 24px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #4A433B;
}
#modalContent header .user{
    width: 25px;
    height: 25px;
    position:relative;
    left: 95px;
}



#modalContent footer{
    position: fixed;
    width: 390px;
    height: 60px;
    bottom: 0;
    background: #4A433B;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#modalContent footer img {
    width:25px;
    height: 25px;
    margin-left: 17px;
    margin-top: 0px !important;
}
#modalContent footer p{
    width: 70px;
    height: 24px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
#modalContent footer h4{
    position:relative;
    left:70px;
    width: 46px;
    height: 18px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    color: #FFFFFF;
}
.arrow{
    position:relative;
    width: 30px;
    height: 30px;
    left:-100px;
}
.CartBox{
    position:relative;
    width: 345px;
    height: 130px;
    left:23px;
    margin-top:16px;
    background: #F8F8F8;
    border: 1px solid #4A433B;
    box-shadow: 3px 3px 7px rgba(15, 41, 107, 0.12);
    border-radius: 5px;
}
.CartBox .itemImg{
    position:relative;
    width: 130px;
    height: 130px;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #4A433B;
    border-radius: 5px 0px 0px 5px;
    top:-1px;
    left:-1px;
}
.CartBox .itemName{
    position:inherit;
    margin-left: 144.09px;
    margin-top: -120px;
    width: 400px;
    height: 12px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: rgba(74, 67, 59, 0.8);
}
.CartBox .itemWon{
    position:inherit;
    width: 500px;
    height: 14px;
    margin-top:6px;
    margin-left: 144.09px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;

    color: rgba(74, 67, 59, 0.7);
}
.CartBox .LineDiv{
    position:relative;
    margin-top: 29px;
    left:139px;
    width: 195px;
    height: 0.5px;
    background-color: rgba(103,97,91,0.5);
}
.CartPlus{
    position:relative;
    margin-left:262px;
    margin-top:10px;
    width: 25px;
    height: 25px;
    border: 1px solid #4A433B;
    background-color: transparent;
}
.CartPlus img{
    width: 10px;
    height: 10px;
}
.CartNum {
    float: left;
    margin-left:286px;
    margin-top:-25px;
    width:25px;
    height: 25px;
    border: 1px solid #4A433B;
}
.CartNum p{
    width: 10px;
    height: 18px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    margin-left:6px;
    margin-top:2px;
    display: flex;
    align-items: center;
    color: #4A433B;
}
.CartMinus{
    margin-left:310px;
    margin-top:-25px;
    background-color: #ffffff;
    float: left;
    width: 25px;
    height: 25px;
    border: 1px solid #4A433B;
}
.CartMinus img{
    width: 10px;
    height: 10px;
}

.main{
    width: 390px;
    height: auto;
}