@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Pretendard-Regular';
}
.header{
    height: 60px;
    width: 390px;
    padding-left:32px;
    padding-right: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img{
    height: 15px;
    width: 19.5px;
}
.header ul{
    padding:0;
}
.header ul li {
    display: inline-block;
    margin-left: 16px;
}
main{
    margin-bottom:60px;
}
.banner{
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 390px;
    height: 218px;
    background: #4A433B;
}
.banner ul li{
    display: block;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width:390px;
}
.banner1 {
    background-image: "banner1.png";
}
.banner2 {
    background-image: "banner2.png";
}
.banner3 {
    background-image: "banner3.png";
}
.banner4 {
    background-image: "banner4.png";
}
.scrollPage{
    margin-top:80px;
}

.search{
    box-sizing: border-box;
    position: absolute;
    width: 289px;
    height: 43px;
    left: 47px;
    top: 253px;
    background: #ffffff;
    border: 1px solid #4A433B;
    border-radius: 16px;
}

.search p {
    position: absolute;
width: 128px;
height: 18px;
left: 17px;
top: 13px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: rgba(0, 0, 0, 0.5);
}
.search img{
    position: absolute;
    right:14px;
    top:9px;
    width: 25px;
    height: 25px;
}


.bathBanner p{
    position: absolute;
    width: 57px;
    height: 17px;
    left: 66px;;
    top: 7px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}
.bathBanner img{
    position:relative;
    width: 9.23px;
    height: 15px;
    left: 51px;
    top:8px;
}
.bathBanner_under{
    position: relative;
    width: 343px;
    height: 2px;
    left: 23px;
    top: 72px;
    background-color: #4A433B;
}

.img{
    box-sizing: border-box;
    position: relative;
    width: 167px;
    height: 167px;
    left: 24px;
    border: 1px solid #4A433B;
    filter: drop-shadow(3px 3px 7px rgba(0, 0, 0, 0.09));
    border-radius: 5px;
}
.set{
    position: relative;
    width: 150px;
    height: 12px;
    left: 25px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

}
.inline{
    display: inline-block;
}
.text_brown{
    font-family: 'Pretendard';
    font-style: normal;
    display: flex;
    align-items: center;
    color: rgba(74, 67, 59, 0.7);
}
.won{
    position: relative;
    width: 60px;
    height: 12px;
    left: 25px;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
}
.scrollPage{
    overflow: auto;
}
.inline{
    display: inline-block;
}
.One{
    position:relative;
    float: left;
    margin-right: 10px;
}
.Two{
    position:relative;
    float: left;
}

footer{
    position: fixed;
    width: 390px;
    height: 60px;
    background: #4A433B;
    bottom:0;
}
footer img {
    margin-top:14px;
    width: 28px;
    height: 28px;
    margin-left: 120px;
    float: left;
}
footer p{
    float: left;
    position:absolute;
    width: 109px;
    height: 24px;
    left:163px;
    top:18px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
input[type=radio]{
    display: none;
}
.tab{
    margin-left:23px;
    height: 32px;
}
#tab-1:checked ~ .tab label:nth-child(1),
#tab-2:checked ~ .tab label:nth-child(2){
    width: 173px;
    height: 32px;
    background: #4A433B;
    border-radius: 5px 5px 0px 0px;
}

.content > div{
    display: none;
}

#tab-1:checked ~ .content div:nth-child(1),
#tab-1:checked ~ .content div:nth-child(2){
    display: block;
}