@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Pretendard-Regular';
}
.header{
    height: 60px;
    width: 390px;
    padding-left:32px;
    padding-right: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img{
    height: 15px;
    width: 19.5px;
}
.header ul{
    padding:0;
}
.header ul li {
    display: inline-block;
    margin-left: 16px;
}
main{
    padding:32px;
}
.banner{
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 390px;
    height: 218px;
    background: #4A433B;
}
.banner ul li{
    display: block;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width:390px;
}
.banner1 {
    background-image: "banner1.png";
}
.banner2 {
    background-image: "banner2.png";
}
.banner3 {
    background-image: "banner3.png";
}
.banner4 {
    background-image: "banner4.png";
}