* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family:sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
  }
  
  body {
    background-image:#34495e;
  }
  
  .joinForm {
    position:absolute;
    width:350px;
    height:400px;
    padding: 30px, 20px;
    background-color:#FFFFFF;
    text-align:center;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
  }
  
  .joinForm h2 {
    text-align: center;
    margin: 30px;
  }
  
  .textForm {
    margin: 30px;
  }
  .textForm .input-data{
    height: 40px;
    width: 100%;
    position: relative;
    border: none;
  }
  .textForm .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
  }
  .textForm .input-data input:focus{
    outline: none;
  }
  .input-data input:focus ~ label,
  .input-data input:valid ~ label{
    transform: translateY(-20px);
    font-size: 15px;
    color: #4158d0;
  }
  .textForm .input-data label{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .input-data .underline{
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
  }
  .input-data .underline:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0px;
    background: #4158d0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before{
    transform: scaleX(1);
  }
  
  .btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-black {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}