@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Pretendard-Regular';
}
.header{
    height: 60px;
    width: 390px;
    padding-left:32px;
    padding-right: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img{
    height: 15px;
    width: 19.5px;
}
.header ul{
    padding:0;
}
.header ul li {
    display: inline-block;
    margin-left: 16px;
}
main{
    padding:32px;
}
.banner{
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 390px;
    height: 218px;
    background: #4A433B;
}
.banner ul li{
    display: block;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width:390px;
}
.banner1 {
    background-image: "banner1.png";
}
.banner2 {
    background-image: "banner2.png";
}
.banner3 {
    background-image: "banner3.png";
}
.banner4 {
    background-image: "banner4.png";
}

.search{
    box-sizing: border-box;
    position: absolute;
    width: 289px;
    height: 43px;
    left: 47px;
    top: 253px;
    background: #ffffff;
    border: 1px solid #4A433B;
    border-radius: 16px;
}

.bathBanner{
    position: absolute;
    width: 173px;
    height: 32px;
    left: 23px;
    top: 318px;
    background: #4A433B;
    border-radius: 5px 5px 0px 0px;
}

.bathBanner p{
    position: absolute;
width: 57px;
height: 17px;
left: 89px;
top: 325px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}
.bathBanner img{
    width: 9.23px;
    height: 15px;
    left: 51px;
    top:8px;
}